.nav-responsive {
    display:flex;
    position:fixed;
    width:100%;
    align-items:center;
    justify-content:center;
    background-color: none;
    height:10rem;
    z-index: 100;
    transition: all 0.5s ease;
}
.space {
    width:50rem;
    height:10rem;

}



.nav-responsive ul {
    margin: 0;
    display:flex;
    width:100%;
    color:white;
    justify-content: space-evenly;

}
.nav-responsive ul li {
    list-style:none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    cursor:pointer;
    /* color:black; */
    transition : all 0.2s ease-in-out;
}
.nav-responsive ul li:hover {
    color: grey;


}


